In [13]:
import pandas as pd

df_asset = pd.read_parquet(f'../sectors/QQQ_daily.parquet')
df_asset

,open,high,low,close,adj close,volume,symbol
Date,,,,,,,
2009-11-16,44.200001,44.650002,44.119999,44.459999,38.832016,87776100,QQQ
2009-11-17,44.340000,44.599998,44.250000,44.599998,38.954292,81884000,QQQ
2009-11-18,44.459999,44.490002,44.049999,44.349998,38.735943,100240800,QQQ
2009-11-19,44.049999,44.080002,43.349998,43.660000,38.133293,114558000,QQQ
2009-11-20,43.430000,43.549999,43.279999,43.439999,37.941128,70912100,QQQ
...,...,...,...,...,...,...,...
2024-11-05,487.609985,492.880005,487.519989,492.209991,492.209991,24353600,QQQ
2024-11-06,500.559998,506.410004,499.600006,505.579987,505.579987,43082200,QQQ
2024-11-07,508.399994,514.330017,508.339996,513.539978,513.539978,32853100,QQQ
2024-11-08,513.039978,514.919983,512.409973,514.140015,514.140015,22903300,QQQ
2024-11-11,515.429993,515.580017,512.239990,513.263977,513.263977,6034924,QQQ

In [27]:
def calc_returns(srs: pd.Series, day_offset: int = 1) -> pd.Series:
    """for each element of a pandas time-series srs,
    calculates the returns over the past number of days
    specified by offset

    Args:
        srs (pd.Series): time-series of prices
        day_offset (int, optional): number of days to calculate returns over. Defaults to 1.

    Returns:
        pd.Series: series of returns
    """
    returns = srs / srs.shift(day_offset) - 1.0
    return returns

df_asset["daily_returns"] = calc_returns(df_asset["close"])
df_asset['position'] = df_asset['daily_returns'].apply(lambda daily_return: 0 if daily_return > 0 else -1)

df_asset

,open,high,low,close,adj close,volume,symbol,daily_returns,position
Date,,,,,,,,,
2009-11-16,44.200001,44.650002,44.119999,44.459999,38.832016,87776100,QQQ,NaN,-1
2009-11-17,44.340000,44.599998,44.250000,44.599998,38.954292,81884000,QQQ,0.003149,0
2009-11-18,44.459999,44.490002,44.049999,44.349998,38.735943,100240800,QQQ,-0.005605,-1
2009-11-19,44.049999,44.080002,43.349998,43.660000,38.133293,114558000,QQQ,-0.015558,-1
2009-11-20,43.430000,43.549999,43.279999,43.439999,37.941128,70912100,QQQ,-0.005039,-1
...,...,...,...,...,...,...,...,...,...
2024-11-05,487.609985,492.880005,487.519989,492.209991,492.209991,24353600,QQQ,0.012757,0
2024-11-06,500.559998,506.410004,499.600006,505.579987,505.579987,43082200,QQQ,0.027163,0
2024-11-07,508.399994,514.330017,508.339996,513.539978,513.539978,32853100,QQQ,0.015744,0
2024-11-08,513.039978,514.919983,512.409973,514.140015,514.140015,22903300,QQQ,0.001168,0
2024-11-11,515.429993,515.580017,512.239990,513.263977,513.263977,6034924,QQQ,-0.001704,-1

In [28]:
total_return = (df_asset['daily_returns'] * df_asset['position']).sum()
total_return

15.542090869479779